body{
    font-family: sans-serif;
    margin:0em;
}
a{
    text-decoration:none;
    color: #00A5CC;
    text-size:2em;
}
header {
    width:100%;
    height: 4em;
    margin:auto;
    border-bottom: 0.2em solid #EEE;   
    background : #FFF;
    z-index:99;    
}
#header {
    float:left;
    line-height: 2em;
    color: #E5DAC0;
    font-size: 30px;
    font-weight: bolder;    
}
nav{
    width:100%;
    text-align:center;
}
nav ul
{
    line-height:1em; /*--this changes the position of text (up or down)--*/
}
nav li
{
    display: inline-block;
}
nav a
{
    padding:0.75em;
    color: #F4EFE5;
}
nav  a:hover
{
    background: #D2C094;
    color: white;
    border-radius: .75em;
}
/*---------Navigation menu styles-----------*/
.menu{
    width:100%;
    height: 3em; /*--change in this height changes the menu height--*/
    background: #DCCDAB;
    position: absolute;
    top:-4.1em;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    z-index:-1;
    
}
.menu-icon{
    float:right;
    padding: .35em 0.75em;
    background:#E5DAC0;
    color:#C3AA6F;
    cursor:pointer;
    border-radius: 0.5em;
    margin: 0.75em 0.75em 0 0;
}
#menuToggle{
    display:none;
}
#menuToggle:checked ~ .menu{
    position:absolute;
    top:4.1em;
}
/*---------Media query-----------*/
@media screen and (max-width: 580px){
    nav li{
        display:block;
        }
    nav a{
        display:inline-block;    
        }
    nav a:hover{
        border-radius:0.75em;
        
    }
    .menu{
        top:-13em;
        height:auto;
        
    }
}